<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hw_16</property>
        <property name="connection.username">root</property>
        <property name="connection.password">SAMAseven@7</property>

        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hbm2ddl.auto">update</property>
        <property name="connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>


        <mapping class="data.user.Customer"/>
        <mapping class="data.serviceSystem.Service"/>
        <mapping class="data.serviceSystem.SubService"/>
        <mapping class="data.user.Expert"/>
        <mapping class="data.order.Order"/>
        <mapping class="data.order.Comment"/>
        <mapping class="data.order.Suggestion"/>
        <mapping class="data.order.Address"/>


    </session-factory>
</hibernate-configuration>